@use './variables' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $color-darker;
  background-color: $color-light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg_color_light {
  background-color: $color-light;
}

.bg_color_secondary {
  background-color: $color-secondary;
}

.bg_color_dark {
  background-color: $color-dark;
}

.bg_color_darker {
  background-color: $color-darker;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}