@use './variables' as *;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.bg_color_light {
  background-color: $color-light;
}

.bg_color_secondary {
  background-color: $color-secondary;
}

.bg_color_dark {
  background-color: $color-dark;
}

.bg_color_darker {
  background-color: $color-darker;
}

.button {
  --button_radius: 0.75em;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);

  .button_top {
    display: block;

    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;

    transform: translateY(-0.2em);
    transition: transform 0.1s ease;

    i:before {
      transform: rotate(90deg);
      transition: all ease-in-out 0.5s;
    }
  }

  &:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }

  &:hover i:before {
    /* Move the airplane when hovered */
    transform: translateX(20px) rotate(90deg);
  }

  &:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
}

.button_primary {
  background-color: $color-dark;

  .button_top {
    background-color: $color-secondary;
    color: $color-light;
    border: 2px solid $color-dark;
  }

}